*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
#main{
    width: 100%;
    position: relative;
}
.cursor{
    mix-blend-mode: difference;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    transition: linear 0.2s ease;
}
.home{
    width: 100%;
    min-height: 100vh;
}
.nav{
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 110px;
}
.nav .right-side{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}
.nav .right-side a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.home .homemain{
   width: 100%; 
   padding: 15vw 13vw;
   line-height: 1;
}
.homemain .headings{
    display: flex;
    gap: 40px;
}
.headings h1{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 6vw;
    font-weight: 700;
}

.headings h1:hover{
    color: #000;
}
.homelast{
    display: block;
    width: 70%;
    margin: auto;
}

.homelast p{
    font-size: 1.6vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);    
}
.homelast p::selection{
    background-color: black;
    color: white;
}
#main .featured{
    display: block;
    margin: 10rem auto;
    width: 70%;
}

.featured h1{
    line-height: 1;
    font-size: 3vw;
    font-weight: 500;
}

.featured .projects{
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
.featuredimages{
    
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0vw 15vw;
    display: flex;
}
.fleft{
    width: 45%;
    overflow: hidden;
    height:inherit ;
}
.fleftelem{
    width: 100%;
    height: inherit;
}
.fleftelem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.fleftelem h1{
    font-size: 2.3vw;
    text-transform: capitalize;
    font-weight: 500;
    margin:  3px 0px;
}
.fleftelem p {
    color: gray;
}
.featuredimages .fright{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    height: inherit;
}
.fright .images{
    width: 90%;
    height: 95%;
}
.fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewaalprobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.viewaalprobtn button{
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 500;
}
.dev{
    width: 100%;
    padding: 5vw 15vw;
}
.dev h1{
    font-size: 4vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;

}
.dev p{
    margin-top: 30px;
    width: 60%;
    font-size: 1.5vw;
}
.slides{
    display: flex;
    justify-content: center;
    padding: 0 6vw;
    align-items: center;
    gap: 5px;
}
.slides .card{
    height: 280px;
    width: 400px;
    padding: 10px;
}
.slides .card img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
}
.slides .card img:hover{
    transition: transform 0.3s ease;
}
.slides .card img:hover{
    transform: scale(1.03);
}
.slides .card h5{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
}

.footer-bottom{
    position: relative;
    height: 60vh;
    max-width: 100vw;
    background-color: #000;
    margin-top: 3rem;
}
.flotBox{
    position: absolute;
    width: 100%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: red; */
}
.marqueeScroller{
    display: flex;
    gap: 1rem;
    gap: 5rem;
}
.marqueeScroller-innner{
    display: flex ;
    align-items: center;
    gap: 2rem;
}
.marqueeScroller-innner h1{
    font-size: 7.6rem;
    font-weight: 100;
}
.videoCover {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    animation: rotate 7s linear infinite;
  }
  .videoCover>h1{
    position: absolute;
    color: #fff;
    font-size: 7.6rem;
    font-weight: 100;
  }

  .videoCover video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
  }

  .videoCover img {
    position: absolute;
    display: inline-block;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  .pageLast{
    max-width: 100vw;
    height: 100vh;
    background-color:#000;
    color:white;    
  }
  .pageLast > h1{
    padding: 2rem;
    font-size: 17px;
  }
  .pageLast-inner{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
  }
  .pageLast-innner-moving{
    position: relative;
  }
  .moving-social-media{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 0%;
    background-color: #e6e6e6;
    transition: all ease .5s;
  }
  .pageLast-innner-moving:hover .moving-social-media{
    height: 100%;
  }
  .social-media{
    display: flex;
    padding: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .social-media>h1{
    margin-left: 2rem;
    font-weight: 200;
    font-size: 2rem;
  }
  .social-media>svg{
    height: 2rem;
    transform: rotate(-90deg);
    margin-right: 2rem;
  }